.dark-mode {
  background-color: gray;
}

#theme-button, .menu_button {
  max-width: 150px;
  background-color: pink;
}

.dark-mode #theme-button, .dark-mode .menu_button {
    background-color: white;
}

#modal {
  overflow-y: scroll;
  max-width: 200px;
}
