body {
  /* background-image: url("./components/photo/cocktail.png"); */
  background-color: skyblue;
  font-family: "Garbata";
}

header {
  font-size: 90px;
  color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#first {
  font-family: "Garbata";
  color: white;
  align-items: center;
  font-size: 70px;
}

.photos {
  width: 300px;
}

#meals {
  /* align-content: center; */
  display: grid;
  padding-left: 0%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 350px;
}

.dark-mode #modal {
  background-color: darkcyan;
}

#modal-pics {
  max-width: 250px;
  align-content: center;
}

.result-list {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 3rem;
  max-height: 300px;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 1000;
}

.search-result:hover {
  background-color: gray;
}

.search-result {
  padding: 10px;
  color: black;
}

#Modal.open {
  max-width: 450px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#closing {
  background-color: lightblue;
}
