body {
  background-image: url("./components/photo/cocktail.png");
  font-family: "Garbata";
}
header {
  font-size: 90px;
  color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#first {
  font-family: "Garbata";
  color: white;
  align-items: center;
  font-size: 70px;
}
.photos {
  width: 300px;
}
