/* #Modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 250px;
  z-index: 1000;
} */

#modal {
  overflow-y: scroll;
  max-width: 200px;
  display: flex;
  align-items: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cocktail-img {
  max-width: 200px;
}

#closing {
  background-color: white;
  min-width: 2000px;
  overflow-y: scroll;
}

#recipeInfo {
  display: flex;
  width: 900px;
  height: 100px;
  padding-right: -10px;
}

#drinkInfo {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding-left: -10px;
}
