/* #Modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 250px;
  z-index: 1000;
} */

#modal {
  overflow-y: scroll;
  max-width: 250px;
  right: 200px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cocktail-img {
  max-width: 200px;
}

#closing {
  align-self: center;
  background-color: white;
  min-width: 800px;
  overflow-y: scroll;
}

#recipeInfo {
  width: 300px;
  height: 100px;
}

#drinkInfo {
  width: 300px;
  height: 1000px;
  padding-left: 350px;
}
