/* #Modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 250px;
  z-index: 1000;
} */

#Modal.open {
  max-width: 950px;
  max-height: 750px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#closing {
  background-color: lightblue;
}
